<% if !@articles.empty? %>
    <span class="label-green">ARTICLES</span></br></br>
    
    <% @articles.each do |article| %>
      <div class="card">
        <div class="card-image">
          <div class="article-img">
            <%= link_to image_tag(article["listingimage"]["url"]), article["url"], class: "responsive-img"  %>
          </div>
        </div> <!--end card image-->
   
        <div class="card-content">
          <span class="card-title"><b><%= link_to article["title"], article["url"] %></b></span>
          <%= article["listingdescription"] %>
        </div>

        
        
      </div>
    <% end %>
  <% end %>