<% if !@events.empty? %>
  <span class="label-green">EVENTS</span></br></br>


  <div class="calendar-section">
    <div id='calendar'></div>
  </div> 



  <div class="event-description-section">
    <table class="table order-details-table">
      <tbody id="insert_here">
      </tbody>
    </table>
  </div>


<% end %>