<% if !@events.empty? %>
  <span class="label-green">EVENTS</span> 
  <i>&nbsp;&nbsp;Click on day or event</i>
  
  </br></br>


  <div class="calendar-section">
    <div id='calendar'></div>
  </div> 


  </br>
  <div class="event-description-section">
    <table class="table details-table">
      <tbody id="insert_here">
      </tbody>
    </table>
  </div>


<% end %>

<script>
var events = <%= raw(@events_reformatted.to_json.to_s) %>


console.log(events)

$(window).load(function(){
    
  $('#calendar').fullCalendar({

    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    editable: false,
    eventRender: function(event, element, view) {
      return $('<div class="event">' + '<b>' + event.title + '</b>' + '</div>');
    },
    events: events,

    /* When a day is clicked, summarize all events on that day */
    dayClick: function(date, jsEvent, view) {
      $('.details-table').empty(); // Clear list of events
      $('#calendar').fullCalendar('clientEvents', function(event) {
        var start = event.start;
        var end = event.end || start;
        if(moment(date).format('YYYY-MM-DD') == start.format('YYYY-MM-DD')) {

          // Add event details to table
          var html = "<div class='card'><div class='card-content'>"+"<b>"+event.title+'</b></br><p><b>Dates:</b>&nbsp;' + start.format('MM/DD/YY') + ' - ' + end.format('MM/DD/YY') + '</p>';
        
          var i;
          for (i = 0; i < event.times.length; i++) { 
            if (i == 0) {
              html += '<p><b>Times:</b>&nbsp;' + event.times[i]["timestart"] + ' - ' + event.times[i]["timeend"] + '</br>';
            }
            else{
              html += '<p><b style="opacity: 0">Times:</b>&nbsp;' + event.times[i]["timestart"] + ' - ' + event.times[i]["timeend"] + '</br>';
            }
          }

          html += '</p><p><b>Location:</b>&nbsp;' + event.location + '</p><p><b>Description:</b>&nbsp;' + event.description + '</p></div></div>';
          
          $(".details-table").append(html);

          
        }
      });
    },
    
    /* When event is clicked, summarize all events in that day. */
    eventClick: function(data, jsEvent, view) {
      

      function insert(title, start, enddate, times, location, description){

        var html = "<div class='card'><div class='card-content'>"+"<b>"+title+'</b></br><p><b>Dates:</b>&nbsp;' + start + ' - ' + enddate + '</p>';
        
        var i;
        for (i = 0; i < times.length; i++) { 
          if (i == 0) {
            html += '<p><b>Times:</b>&nbsp;' + times[i]["timestart"] + ' - ' + times[i]["timeend"] + '</br>';
          }
          else{
            html += '<p><b style="opacity: 0">Times:</b>&nbsp;' + times[i]["timestart"] + ' - ' + times[i]["timeend"] + '</br>';
          }
        }

        html += '</p><p><b>Location:</b>&nbsp;' + location + '</p><p><b>Description:</b>&nbsp;' + description + '</p></div></div>';
        
        $(".details-table").append(html);


      };

      $(".details-table").empty(); // Clear list of products

      var start = moment(data.start);
      var end = data.end || start;
    
      insert(data.title, start.format('MM/DD/YY'), end.format('MM/DD/YY'), data.times, data.location, data.description );
    
    }
  }); //end calendar
    

  // Go directly to month which contains events
  $('#calendar').fullCalendar('gotoDate', Date.current);
});
</script>