
<span class="label-green">LEARN ABOUT THE PARK&nbsp;&nbsp;
<%= image_tag "light-bulb.svg", class: "icon", style: "width: 22px; height: auto" %>
</span></br>
<p style="font-size: 16px; color: black"><%= link_to "View lesson plans and learn about historical people and places!", learn_path(park_code: @park_code), style: "text-decoration: underline" %></p>
</br>