<div id="footer" class="center-align">

  <%= link_to 'Home', home_path, :class => current_class?(home_path) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'About', about_path, :class => current_class?(about_path) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Contact', contact_path, :class => current_class?(contact_path) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <br/><br/>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="divider"></div>
    </div>
  </div<>
  <br/>
  <div id="copy">
    Designer: Eileen Chen <br/> 
    Not affiliated with National Park Service.
  </div>
</div>