</br>
<h4>About</h4>
<p style="font-size: 18px">This project was created for the Capital One Software Engineering Summit Coding Challenge.</p>
Check out my GitHub repo <%= link_to "here", "https://github.com/eileenzchen/nps", style: "color: #006400" %>!
</br></br>
<h5>Built With</h4>
<div class="divider"></div>
<ul>
  <li><%= link_to "Ruby on Rails - web framework", "https://rubyonrails.org/", style: "color: #006400" %></li>
  <li><%= link_to "Materialize - CSS framework", "https://materializecss.com/", style: "color: #006400" %></li>
</ul>

