</br>
<h4>Get in touch with me!</h4></br>
<div style="line-height: 10px">
  <h5>Eileen Chen</h5>
  <p style="font-size: 16px">Carnegie Mellon University, Class of 2021</p>
  <p style="font-size: 16px">B.S. Information Systems, minors in Human-Computer Interaction and Business Administration</p>
  <p style="font-size: 16px">(240)-481-0447</p>
  <%= mail_to "ezchen@andrew.cmu.edu", "ezchen@andrew.cmu.edu", style: "color: #006400" %></br></br>
  
  <%= link_to "www.linkedin.com/in/eileenzchen", "https://www.linkedin.com/in/eileenzchen/", style: "color: #006400" %>
</div>